* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary_color: rgb(31, 31, 31);
    --background_color: rgb(255, 255, 255);
    --text_color: black;
    --lightpurple: rgb(194, 0, 194);
    --font-headers: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7;
    color: var(--text_color);
    scroll-behavior: smooth;
}

.content {
    display: flex;
    align-items: flex-start; 
}

.text {
    flex: 1; 
    margin-right: 20px; 
}

.video {
    flex: 1; 
    width: 400px;
    border-radius: 10px;
}

.video#project {
    position: relative;
    width: 80%;
    left: 8%;
    padding: 4%;
}

.section {
    width: 50%;
    height: 100%;
    background-color: var(--primary_color);
}

a.anchor {
    position: relative; 
    top: -50px;
}

a {
    color: var(--primary_color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.simon {
    font-family: var(--font-headers);
    position: absolute;
    left: 2%;
    font-size: 30px;
    text-shadow: 1px 1px 1px grey;
    top: 10%;
}

header {
    font-family: var(--font-headers);
    background-color: var(--primary_color);
    color: var(--background_color);
    padding: 0.7%;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

header nav ul li {
    display: inline;
    margin-right: 0.2%;
}

header nav ul li a {
    color: #ffffff;
    padding: 5px 10px;
    font-size: 20px;
}

div.block {
    position: relative;
    left: 15%;
    padding: 1rem;
    margin: 0%;
    background: var(--background_color);
    border-radius: 8px;
    width: 70%;
}

div.block h1 {
    padding: 10px;
}

.content-block {
    flex:1;
    width: 50%;
    padding: 1%;
}

.content-block img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.content-block video {
    width: 100%;
}

.portfolio-item {
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 0.5%;
    background-color: var(--primary_color);
    color: #ffffff;
    position: relative;
    width: 100%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

#downloads {
    text-align: center;
    background: var(--background_color);
    border-radius: 8px;
}

.download-boxes {
    display: flex;
    justify-content: space-around;
}

.download-boxes .portfolio-item {
    border: 1px solid rgb(201, 201, 201);
}

.box {
    width: 50%;
    padding-top: 10px;
    background-color: var(--background_color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.download-button {
    display: inline-block;
    width: 40%;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--primary_color);
    color: var(--background_color);
    text-decoration: none;
    border-radius: 5px;
}

#container_top {
    display: flex; 
    overflow: hidden; 
}

.image_section {
    flex: 1; 
    width: 20%; 
}

.image_section img {
    width: 100%;
    height: auto; 
    display: block; 
    border-radius: 5px;
  }

.text_section {
    flex: 5; 
    padding: 20px; 
    color: var(--text_color); 
}

.contact_links {
    font-size: 20px;  
    text-decoration: underline;  
    padding-right: 20px;
}

.custom-line {
    position: relative;         
    left: 10%;
    width: 80%;           
    height: 1px;         
    background-color: var(--primary_color);
    opacity: 50%; 
    margin-top: 1%;
    margin-bottom: 1%;
}

.custom-line#small {
    left: 0%;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;             
}

.fixed-sidebar {
    position: fixed;            
    width: 4%;   
    height: 100%;
    background-color: rgb(241, 241, 241);      
}

.fixed-sidebar a {
    display: block;
    position: relative;
    top: 39%;    
    text-align: center;
    height: 5%;
}

.block a {
    color: var(--lightpurple);
}

footer a {
    color: var(--background_color);
    text-decoration: underline;
}

a.download-button {
    color: var(--background_color);
}

a.portfolio-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--primary_color);
    color: var(--background_color);
    border-radius: 5px;
}

.portfolio-links {
    display: flex;
    justify-content: space-around;
}

#links {
    display: block;
    margin-top: 1%;
}

@media screen and (max-width:960px) {
    .text_section { 
        padding: 0px;
        color: var(--text_color); 
    }
    
    .download-boxes {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        text-align: center;
    }

    #container_top {
        display: block;    
    }

    .image_section {
        width: 100%;
    }

    #container_top .image_section {
        position: relative;
        width: 50%;
        left: 25%;
    }

    #website {
        position: relative;
        width: 100%;
    }

    section {
        margin: 0px 10px;
    }

    .content {
        display: block;
    }

    .video {
        width: 100%;
    }

    div.block {
        position: relative;
        background: var(--background_color);
        left: 0%;
        width: 100%;
        padding: 10px;
    }

    .fixed-sidebar {
        display: none; 
    }

    .simon {
        position: relative;
        display: block;
    }

    .content-block {
        display: block;
        width: 100%;
        padding: 1%;
    }
}